b11muel_scoop/src/main/mule/b11muel_scoop.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ca052994-1829-4952-ad28-688d52ebaff7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="96bc5f92-cb6b-41a3-8d96-4861c270e7ad" basePath="/getaccounts">
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="b11flow_sub_flowFlow" doc:id="c0c34956-fbf3-444c-96df-1039326874b7" >
		<http:listener doc:name="Listener" doc:id="62aae4fb-97cc-4ea8-b501-7cbf2fc91e6f" config-ref="HTTP_Listener_config" path="/test"/>
		<http:request method="GET" doc:name="Request" doc:id="488bc64c-12ca-44b8-86b0-ce3eb896a29d" config-ref="HTTP_Request_configuration" path="/getaccounts"/>
		<logger level="INFO" doc:name="Logger" doc:id="2d87b5f8-c8d0-4ba5-922c-bb568735a2c6" message="b11messagecomesfrom capstone #[payload]"/>
	</flow>
</mule>
